@()(implicit req: RequestHeader)

@main("Lean Video Recording - API") {
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h1>API documentation</h1>
        <p>
        	Do you prefer <a href="#js">JavaScript</a> or <a href="#rest">REST</a>?
        </p>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  
	<div class="row">
	    <div class="span12">
			<a name="js"></a>
			<h1>JavaScript API</h1>
			
			<h2>Installation</h2>
			In the head section of your page, load your personal recording script:
<pre>
&lt;script type="text/javascript" src="http://video-rec.lean-web-development.com/<b>yoursite</b>/record.js"/&gt;
</pre>
			
			<h2>Recording Button</h2>
			Just enter in your source page the following Scriptlet:
<pre>
&lt;script type="text/javascript"&gt;
	LWDRecorder.recordButton({});
&lt;/script&gt;
</pre>
			<p>
			Replace <code><b>yoursite</b></code> with your registered application name. 
			This will display the record button.
			On click, this button will load our recording widget on demand and ask the user
			for starting her recording.
			</p>

			<h2>Recorder</h2>
			If you want the recorder to be display immediately, use:
<pre>
&lt;script type="text/javascript"&gt;
	LWDRecorder.recorder({});
&lt;/script&gt;
</pre>
			<p>
			Replace <code><b>yoursite</b></code> with your registered application name. 
			This will display the recorder widget.
			</p>
			
			<h2>Configuration</h2>
			<p>
			The argument to the functions above is a configuration object, consider: 
<pre>
	LWDRecorder.recordButton({
		button : {
			title : "Start recording your comment"
		}
	});
</pre>
			Here is the default configuration, which you can override as you like:
<pre>
{
	button : {
		title : "Record &raqou;",
		class : ""
	},
	meta : {
		title : "Test",
		page : document.URL,
		category : "Autos",
		description : "Comment on "+document.URL,
		key : ""
	},
	video : {
		width : 640,
		height : 480,
		fps : 30,
		quality : 80,
		bandwidth : 0
	},
	player : {
		width : 320,
		height : 240
	}
}				
</pre>
			</p>
			 
			
			<h2>Replay</h2>
			Replay in fact is a query for recorded video.
			The simpliest way is:
<pre>
&lt;script type="text/javascript"&gt;
	LWDRecord.replay({});
&lt;/script&gt;
</pre>
			The argument is a query specification, consider:
<pre>
&lt;script type="text/javascript"&gt;
	LWDRecord.replay({
		query : {
			key : "myvideo",
			page : document.URL,
			count : 1
		},
		player : {
			id : "recorded-videos",
			width : 320,
			height : 240
		}
	});
&lt;/script&gt;
</pre>
		<code>query.key</code> and <code>query.page</code> are searches for meta parameters,
		<code>query.count</code> determines the number of videos displayed.<br>
		<code>player.width</code> and <code>player.height</code> sets the size 
		of the actual video players. <code>player.id</code> is only required if you add
		more than one video list on one page. Use two different ids then.
		</div>
	</div>

	<div class="row">
	    <div class="span12">
			<a name="rest"></a>
			<h1>REST API</h1>
			
			<h2>JavaScriptlet</h2>
<pre>
GET @routes.API.record(":client").absoluteURL()
</pre>
			Returns JavaScript API Code for <code>client</code>.

			<h2>Video Query</h2>
<pre>
GET @routes.API.videos(":client").absoluteURL()?:query
</pre>
			Returns videos for <code>client</code> matching <code>query</code>.
			Query can contain the meta parameters <code>page</code> and <code>key</code> 
			as well as <code>count</code>, which restricts the number of videos returned.
			The videos are listed in descending order of their recording timestamp.<br>
			Example:
<pre>
GET @routes.API.videos("videorec").absoluteURL()?key=seminar-41&count=1
[
	{
		"id" 		: {"id":2},
		"client" 	: "66and33",
		"date"		: 1339597039954,
		"title"		: "Test",
		"page"		: "http://localhost:9000/seminar/41/video",
		"key"		: "seminar-41",
		"category"	: "Autos",
		"description"	: "Comment on http://localhost:9000/seminar/41/video",
		"publishedId"	: "2bqvcAGBtmA"
	}
]
</pre>
		</div>
	</div>

}