@()(implicit req: RequestHeader)

@main("Lean Video Recording") {
      <div class="row">
        <div class="span12">
          <div class="hero-unit">
            <h1>Lean Video Recording</h1>
            <p>
            	Let your users express themselves by video!
            </p>
            <div class="row">
		        <div class="span4">
<pre>
&lt;script src="@routes.API.record("videorec").absoluteURL()"/&gt;
&lt;script type="text/javascript"&gt;
LWDRecorder.recordButton({
  button : {
    title : "Try recording...",
    cls : "btn btn-primary"
  }
});
&lt;/script&gt;
</pre>
		        </div>
		        <div class="span2">
		        	<br><br><br>
		           	<img width="140px" src="@routes.Assets.at("images/arrow.png")"/>
		        </div>
		        <div class="span2">
<script type="text/javascript" src="/videorec/record.js"></script>
<script type="text/javascript">
LWDRecorder.recordButton({
	button : {
		title : "Try recording...",
		cls : "btn btn-primary"
	}
});
</script>
	        </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Applications</h2>
          <p>
          	<ul>
          		<li>Video comments</li>
          		<li>Video ratings</li>
          		<li>Vlogs of your users</li>
          		<li>Profile videos</li>
          	</ul>
          </p>
        </div><!--/span-->
        <div class="span4">
          <h2>Extremely simple</h2>
          <p>
          	Easy-to-use JavaScript API.<br/>
          	Full-fledged REST/JSON API.<br>
          	Want to customize? - No Problem via CSS!<br>
          	Post to Youtube, Facebook or twitter? - Just do it!<br>
          	Engage your users!
          </p>
        </div><!--/span-->
        <div class="span4">
          <h2>Getting Started</h2>
          <p>
          	Test us now - free for low volumes!<br>
          	Learn about our plans:
		  </p>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <div class="span4">
			<div class="pull-right">
	          <a class="btn" href="@routes.Application.apps">More ideas &raquo;</a>
          	</div>
        </div><!--/span-->
        <div class="span4">
			<div class="pull-right">
	          	<a class="btn" href="@routes.Application.api">View details &raquo;</a>
          	</div>
        </div><!--/span-->
        <div class="span4">
			<div class="pull-right">
	       	  	<a class="btn btn-primary btn-large" href="@routes.Application.plans">
	       	  		Plans &raquo;
	       	  	</a>
          	</div>
          	<br>
          	<br>
          	<br>
          	<br>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row">
        <div class="span12">
          <div class="hero-unit">
        	<h2>Recorded Videos</h2>
<script type="text/javascript">
LWDRecorder.recorded({
			query : {
			},
			player : {
				type : "LVR",
				playlist : function(element, videos, conf) {
					LWDRecorder.playlist(element, videos, conf);
				},
				player : function(element, video, conf) {
					LWDRecorder.player(element, video, conf);
				}
			}
});
</script>
	        </div>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
}