@()(implicit req: RequestHeader)

@main("Lean Video Recording") {
      <div class="row">
        <div class="span12">
          <div class="hero-unit">
            <h1>Choose your plan</h1>
            <p>
				<ul>
					<li>Start for free!</li>
					<li>Pay only what you need!</li>
					<li>Add this feature lean: Try it out!</li>
					<li>Monthly commitment only!</li>
				</ul>
            </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Start testing NOW!</h2>
          <p>
          	Do it lean:<br>
          	Just insert our script into your page and let go.<br>
          	Check how easy it is.
          	<ul>
          		<li>Video recording into our Youtube Stream</li>
          		<li>Video listing of our Youtube Stream</li>
          		<li>For testing and development only</li>
          	</ul>
			<div>
          		<a class="btn btn-large btn-primary" href="@routes.Application.api">Free!</a>
          	</div>
          </p>
        </div><!--/span-->
        <div class="span4">
          	<h2>Small plan</h2>
	      	<ul>
	      		<li>Published in your Youtube channel</li>
	      		<li>10 recordings per day</li>
	      		<li>10.000 listings per day</li>
	      	</ul>
			<div>
	          <a class="btn btn-large btn-primary" href="mailto:info@@leanwebdev.com?subject=Videorec+Small">€ 20 / month</a>
          	</div>
          	<br>
	      	<ul>
	      		<li>S3 Cloud storage</li>
	      		<li>10 recordings per day</li>
	      		<li>10.000 listings per day</li>
	      		<li>100 replays per day</li>
	      	</ul>
			<div>
	          <a class="btn btn-large btn-primary" href="mailto:info@@leanwebdev.com?subject=Videorec+Small+S3">€ 50 / month</a>
          	</div>
        </div><!--/span-->
        <div class="span4">
          	<h2>Big plan</h2>
          	<ul>
	      		<li>Published in your Youtube channel</li>
	      		<li>50 recordings per day</li>
	      		<li>100.000 listings per day</li>
          	</ul>
			<div>
	          <a class="btn btn-large btn-primary" href="mailto:info@@leanwebdev.com?subject=Videorec+Big">€ 80 / month</a>
          	</div>
          	<br>
	      	<ul>
	      		<li>S3 Cloud storage</li>
	      		<li>50 recordings per day</li>
	      		<li>100.000 listings per day</li>
	      		<li>1.000 replays per day</li>
	      	</ul>
			<div>
	          <a class="btn btn-large btn-primary" href="mailto:info@@leanwebdev.com?subject=Videorec+Big+S3">€ 160 / month</a>
          	</div>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
}